<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272132020404-p33qqgann0d25v8sqgtq6dpu9n0sb909.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272132020404-p33qqgann0d25v8sqgtq6dpu9n0sb909</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272132020404-m6jblefqr5f41mjirm6gcj3ql8bb7un8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzimp8t2I8aeYVMejfRUBLMq3078_KVLg</string>
	<key>GCM_SENDER_ID</key>
	<string>272132020404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.thetaphoto.quizco</string>
	<key>PROJECT_ID</key>
	<string>quizco-fireship</string>
	<key>STORAGE_BUCKET</key>
	<string>quizco-fireship.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272132020404:ios:ee549827eabfce846a5fe1</string>
</dict>
</plist>